.container{
    margin-left: 20%;
    margin-top: 5%;
    margin-right: 35%;
    border: 2px solid ;
    background-color: grey;
    height:350px;
    padding: 10px;
}
input{
    padding: 5px;
    width: 70%;
    border-radius: 10px;
    margin-bottom: 5px;
}
#sub{
    background-color: blue;
    color: white;
    margin-left: 13%;
    padding: 5px;
}